<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />


<f:section name="main">
<f:debug>{_all}</f:debug>
	<f:for each="{persons}" as="person">
		<f:render partial="SinglePerson" arguments="{person: person}"/>
	</f:for>





<table  class="tx_brapersonukd" >
	<tr>
		<th><f:translate key="tx_brapersonukd_domain_model_person.old_id" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.position" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.salutation" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.sex" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.title" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.firstname" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.lastname" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.job" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.old_image_id" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.job_title" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.country_job" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.medical_association" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.link_medical_association" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.address" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.image" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.room_nr" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.building_level" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.building_nr" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.street" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.street_nr" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.post_office_p_ost" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.country_code" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.country" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.zip_code" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.city" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.phone1" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.phone2" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.fax" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.mobile_phone" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.email" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.homepage" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.misc" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.person_id_fk" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.unit_id_fk" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.department_id_fk" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.homepage_title" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.homepage_page_title" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.filelink_title" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.homepage_page" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.filelink" /></th>
		<th><f:translate key="tx_brapersonukd_domain_model_person.email2" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{persons}" as="person">
		<tr>
			<td><f:link.action action="show" arguments="{person : person}"> {person.oldId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.position}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.salutation}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.sex}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.firstname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.lastname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.job}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.oldImageId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.jobTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.countryJob}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.medicalAssociation}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.linkMedicalAssociation}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.image.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.roomNr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.buildingLevel}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.buildingNr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.street}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.streetNr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.postOfficePOst}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.countryCode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.country}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.zipCode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.phone1}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.phone2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.mobilePhone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.homepage}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.misc}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.personIdFk}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.unitIdFk}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.departmentIdFk}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.homepageTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.homepagePageTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.filelinkTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.homepagePage}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.filelink}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.email2}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{person : person}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{person : person}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Person</f:link.action>
</f:section>
</html>